<!DOCTYPE html>
<html>
<head>
	<body style="background-color: #eee; margin: 0px; padding: 0px;">
		<div style="float:left; width:100%;  margin:0;padding:0;font-family: sans-serif;font-size: 13px;text-align: center;">
			<div style="display:inline-block; max-width:780px;  background-color:#ffffff;margin:30px 0 30px;padding:30px 0 30px 0px;text-align: left;">
				<table style="border:none; border-collapse:collapse;margin: 0 30px 0 30px;" border="0">
					<tbody>
						<tr>
							<td style="padding: 0 0 15px;border-bottom: 1px solid #777;vertical-align: top;">
								<img src="http://www.tooklee.com/images/tklemlogo.jpg" alt="Tooklee Logo" style="max-width: 50px;display: inline-block;float: left;">
								<p style="display: inline-block;margin: 12px 0 0 25px;font-size: 15px;">Action Required: Confirm your Tooklee account</p>
							</td>
						</tr>
						<tr>
							<td style="padding: 30px 0 20px;">Hey <%= first_name %>,</td>
						</tr>
						<tr>
							<td style="padding: 0 0 20px;"><%= message %></td>
						</tr>
						<tr>
							<td style="color: #aeaeae;line-height: 21px;padding: 0 0 30px;">
								Tooklee provides Ride &amp; Car Share network of service to make the best use of unused car space, get paid for ride
								shares, meet new friends and contribute in reducing cars and traffic to protect planet earth
							</td>
						</tr>
						<tr>
							<td style="padding: 30px 0 10px;color: #aeaeae;border-top: 2px solid #eee;font-size: 12px;line-height: 21px;">
								This message was sent to <%= email %>.
								If you don't want to receive these emails from Tooklee in the future,
								please
								<a target="_blank" href="mailto:support@tooklee.com?Subject=Unsubscribe" style="color: #6c82a9;text-decoration: none;">unsubscribe</a>.
								If you didn't create a Tooklee account using this email address,
								<a target="_blank" href="mailto:support@tooklee.com" style="color: #6c82a9;text-decoration: none;">please let us know.</a>
							</td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td style="color: #aeaeae;font-weight: bold;font-size: 12px;">Team Tooklee</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>