<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/css/bootstrap.css" media="all" />
	<link rel="stylesheet" href="/css/style.css" media="all" />
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-3">
				<div class="selectbox">
					<select class="selectpicker form-control" id="manufacturer_detail">
						<option value="">Select Manufacturer</option>
						<% for(var i=0;i< manufacturer.length;i++){ %>
							<option value="<%= manufacturer[i]._id %>"><%= manufacturer[i].manufacturer_name %></option>
						<% } %>
					</select>
				</div>
				<div class="vehicle frm">
					<input type="text" id="model_name" class="vehiclein form-control" placeholder="Model Name" />
					<button class="btn btn-primary addModel">Add Model</button>
					<button class="btn btn-primary addManufacturer">Add Manufacturer</button>
				</div>
			</div>
		</div>
	</div>
	<div id="vehicleadd" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Vehicle</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="vehicle">
						<input type="text" id="manufacturer" class="vehiclein form-control" placeholder="Vehicle Manufacturer" />
						<button class="btn btn-primary addVehicles">Add Manufacturer</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/custom.js"></script>
</body>

</html>